/* GENERAL */
.landingPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
body{
    background-color: black;
}
p {
    font-size: 20px;
}

i {
    margin-left: 2rem;
    font-size: 25px;
    cursor: pointer;
}

.error-msg {
    color: red;
    margin-bottom: 1rem;
}

/* NAVBAR */
.navbar-container {
    z-index: 50;
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(255, 255, 255, 0.5));
    height: 10vh;
}

.navbar-container a,
.navbar-container button {
    color: white;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}

.navbar-container a:hover {
    color: #198754;
}

/* TODO LIST */
.todo-container {
    width: 50%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1rem;
    position: absolute;
    top: 10vh;
}

.todo,
.todo-header {
    color: black;
    padding: 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.todo-container h1 {
    color: black;
    text-align: center;
}

.todo-header h2 {
    margin-top: 1rem;
}

.todo-header i {
    color: black;
    cursor: pointer;
}

.fa-edit {
    color: blue;
}

.fa-trash {
    color: red;
}

/* TODO FORM */
.todoForm {
    background-color: rgb(255, 255, 255, 0.5);
    min-height: 50vh;
    flex-direction: column;
    position: absolute;
    top: 20vh;
}

.todoForm h1 {
    color: black;
}

.todoForm h6 {
    color: red;
    margin-bottom: 1rem;
}