.navbar-container{
    z-index: 50;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(255,255,255, 0.75));
    height: 10vh;
}
.navbar-container a, .navbar-container button{
    color: white;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}
.navbar-container a:hover{
    color: #198754;
}
.landingPage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: url('../assets/images/room-2.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm{
    background-color: rgb(255,255,255, 0.5);
    min-height: 50vh;
    flex-direction: column;
}
#form1Example1, #form1Example2{
    background-color: white !important;
}
.loginForm h1{
    color: black;
}
