{% extends 'parent_temp.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<style>
    .todoForm h1,
    .todo-container h3 {
        color: black;
    }

    .todo-container {
        width: 50%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255, 0.5);
        justify-content: center;
        padding: 1rem;
        position: absolute;
        top: 20vh;
    }


    .todo {
        margin: 0 2rem;
        color: black;
        border-bottom: 1px solid black;
        padding: 1rem 0 0;
    }

    .todo p {
        font-size: 20px;
    }

    .icons-container {
        width: 20%;
    }

    .todo-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
    }

    i {
        margin: 0 1rem;
        font-size: 25px;
        cursor: pointer;
    }

    .fa-edit {
        color: blue;
    }

    .fa-trash {
        color: red;
    }
</style>
<div class="todo-container">
    {% if not todoList %}
    <h3>No Activities in Todo Yet.</h3>
    {% else %}
    {% for activity in todoList %}
    <div class="todo">
        <h2>{{ activity.todo_title }}</h2>
        <div class="todo-header">
            <div>
                <h5>{{ activity.todo_date }}</h5>
            </div>
            <div class="icons-container">
                <a href="{% url 'WriteTodo' activity.id %}"><i class="fa fa-edit"></i></a>
                <a href="{% url 'DeleteTodo' activity.id %}"><i class="fa fa-trash"></i></a>
            </div>
        </div>
        <p>{{ activity.todo_details }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}