{% extends 'parent_temp.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<style>
    .todoForm {
        background-color: rgb(255, 255, 255, 0.5);
        min-height: 50vh;
        flex-direction: column;
        position: absolute;
        top: 20vh;
    }

    .todoForm h1 {
        color: black;
    }
</style>
<div class="todoForm w-25 d-flex">
    <form class="p-3" action="/Write-Todo{{ todo_id }}" method="post">
        {% csrf_token %}
        <h1 class="my-4">Add Activity</h1>
        <div class="form-outline mb-4">
            <label for="form1Example1">Title</label>
            {{todoForm.todo_title}}
        </div>

        <div class="form-outline mb-4">
            <label for="form1Example2">Details</label>
            {{ todoForm.todo_details }}
        </div>
        <p>{{ invalidMsg }}</p>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
{% endblock %}