{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block body %}
<div class="todoForm w-30 d-flex">
  {% if task %}
  <form class="p-3" action="{% url 'task_update' task.id %}" method="post">
    {% else %}
    <form class="p-3" action="{% url 'task_create' %}" method="post">
      {% endif %}

      {% csrf_token %}
      <h1 class="my-4">
        Add Activity
      </h1>
      <div class="form-outline mb-4">
        <label for="form1Example1">Title</label>
        {{form.title}}
      </div>
      {% if title_error %}
      <h6>
        {{title_error}}
      </h6>
      {% endif %}

      <div class="form-outline mb-4">
        <label for="form1Example2">Details</label>
        {{ form.description }}
      </div>
      {% if title_error %}
      <h6>
        {{description_error}}
      </h6>
      {% endif %}
      <div class="form-outline mb-4">
        {% if task %}
        {{form.completed}} Completed
        {% endif %}
      </div>
      <p>
        {{ invalidMsg }}
      </p>
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>
{% endblock %}